In [2]:
import numpy as np
import pandas as pd

In [3]:
labels =['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [4]:
my_data

[10, 20, 30]

In [5]:
arr

array([10, 20, 30])

In [6]:
d

{'a': 10, 'b': 20, 'c': 30}

In [7]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data = my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [12]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [14]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [15]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [16]:
ser2 = pd.Series([1,2,3,4],['USA','Germany','Italy','Japan'])

In [17]:
ser2

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

In [18]:
ser1['USA']

1

In [19]:
ser3 = pd.Series(data=labels)

In [22]:
ser3[0]

'a'

In [23]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64