In [13]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [9]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [10]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [11]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [14]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [15]:
df

             A         B
G1 1 -0.332237  1.608967
   2 -0.522818 -1.275554
   3 -0.521352 -1.866284
G2 1 -0.027101  0.352235
   2  0.288124  1.292183
   3 -0.967600  0.213247

In [16]:
df.loc['G1']

          A         B
1 -0.332237  1.608967
2 -0.522818 -1.275554
3 -0.521352 -1.866284

In [17]:
df.loc['G2']

          A         B
1 -0.027101  0.352235
2  0.288124  1.292183
3 -0.967600  0.213247

In [18]:
df.loc['G1'].loc[1]

A   -0.332237
B    1.608967
Name: 1, dtype: float64

In [19]:
df.index.names = ['Groups','Num']

In [20]:
df

                   A         B
Groups Num
G1     1   -0.332237  1.608967
       2   -0.522818 -1.275554
       3   -0.521352 -1.866284
G2     1   -0.027101  0.352235
       2    0.288124  1.292183
       3   -0.967600  0.213247

In [22]:
df.loc['G2'].loc[2]['B']

1.2921829878328406

In [23]:
df

                   A         B
Groups Num
G1     1   -0.332237  1.608967
       2   -0.522818 -1.275554
       3   -0.521352 -1.866284
G2     1   -0.027101  0.352235
       2    0.288124  1.292183
       3   -0.967600  0.213247

In [25]:
df.xs('G1')

            A         B
Num
1   -0.332237  1.608967
2   -0.522818 -1.275554
3   -0.521352 -1.866284

In [26]:
df.loc['G1']

            A         B
Num
1   -0.332237  1.608967
2   -0.522818 -1.275554
3   -0.521352 -1.866284

In [27]:
df.xs(1,level='Num')

               A         B
Groups
G1     -0.332237  1.608967
G2     -0.027101  0.352235

In [28]:
df.xs('G1')

            A         B
Num
1   -0.332237  1.608967
2   -0.522818 -1.275554
3   -0.521352 -1.866284